{% extends "base.html" %}

{% block content %}

<h2>Add Member</h2>

<form class="form" action="/members" method="POST">

    <div class="flex">
        <label class="label" for="first_name">Enter first name:</label>
        <input class="input" type="text" name="first_name" id="first_name">
    </div>

    <div class="flex">
        <label class="label" for="last_name">Enter last name:</label>
        <input class="input" type="text" name="last_name" id="last_name">
    </div>

    <div class="flex">
        <label class="label" for="premium">Premium membership:</label>
        <select class="select" name="premium" id="premium">
            <!-- <option value="" disabled selected></option> -->
            <option value="True">True</option>
            <option value="False" selected>False</option>
        </select>
    </div>

    <div class="flex">
        <button class="button" type="submit">Enter</button>
    </div>

</form>

{% endblock %}