{% extends "base.html" %}

{% block content %}

<section class="index">

    <h1>Members</h1>

    <p><a href="/members/add">Add member</a></p>

    <table>
        <tr>
            <th>Member ID</th>
            <th>Name</th>
            <th>Premium</th>
        </tr>

        {% for member in members %}
        <tr>
            <td><a href="/members/{{member.id}}">{{member.id}}</a></td>
            <td>{{member.last_name}}, {{member.first_name}}</td>
            <td>{{member.premium}}</td>
        </tr>
        {% endfor %}

    </table>

</section>

{% endblock %}