body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    background-image: url("/static/images/arnold-schwarzenegger-pumping-iron-ss03.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

body h1, h2 {
    border: solid blanchedalmond;
    color: blanchedalmond;
    background-color: black;
    padding: 1vh;
    text-align: center;
    letter-spacing: 1vh;
}

body header h1 {
    flex: 3;
    margin-left: 5vh;
}

body header nav {
    flex: auto;
}

body ul {
    list-style: none;
}

body ul li a {
    text-decoration: none;
    margin: 4vh;
    padding: 1vh;
    text-transform: uppercase;
    color: blanchedalmond;
    border: solid blanchedalmond;
    background-color: black;
}

body ul li a:hover {
    background-color: darkgrey;
}

.index p {
    display: flex;
    justify-content: center;
}

.index p a {
    text-decoration: none;
    color: blanchedalmond;
    border: solid blanchedalmond;
    background-color: black;
    margin: 5vh 10vh;
    width: fit-content;
    padding: 1vh 2vh;
}

.index p a:hover {
    background-color: darkgrey;
}

.index table a {
    text-decoration: underline;
    color: blanchedalmond;
}

.index table a:hover {
    color: black;
}

#home ul li a {   
    margin: 10vh;
    width: fit-content;
    padding: 1vh 2vh;
}

#home h2 {
    margin-bottom: 10vh;
}