{% block content %}

<form class="input_form" action="/activities" method="POST">

    <div>
        <label for="description">Enter description:</label>
        <input type="text" name="description" id="description">
    </div>

    <div>
        <label for="capacity">Enter capacity:</label>
        <input type="number" min="0" name="capacity" id="capacity">
    </div>

    <div>
        <label for="premium">Premium activity:</label>
        <select name="premium" id="premium">
            <option value="" disabled selected></option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>

    <div>
        <label for="date">Date:</label>
        <input type="date" name="date" id="date">
    </div>

    <div>
        <label for="time">Time:</label>
        <input type="time" name="time" id="time">
    </div>

    <div>
        <button type="submit">Enter</button>
    </div>

</form>

{% endblock %}