{% extends "base.html" %}

{% block content %}

<h2>Add Activity</h2>

<form class="form" action="/activities" method="POST">

    <div class="flex">
        <label class="label" for="description">Enter description:</label>
        <input class="input" type="text" name="description" id="description">
    </div>

    <div class="flex">
        <label class="label" for="capacity">Enter capacity:</label>
        <input class="input" type="number" min="1" name="capacity" id="capacity">
    </div>

    <div class="flex">
        <label class="label" for="premium">Premium activity:</label>
        <select class="select" name="premium" id="premium">
            <!-- <option value="" disabled selected></option> -->
            <option value="True">True</option>
            <option value="False" selected>False</option>
        </select>
    </div>

    <div class="flex">
        <label class="label" for="date">Date:</label>
        <input class="input" type="date" name="date" id="date">
    </div>

    <div class="flex">
        <label class="label" for="time">Time:</label>
        <input class="input" type="time" name="time" id="time">
    </div>

    <div class="flex">
        <button class="button" type="submit">Enter</button>
    </div>
    
</form>

{% endblock %}