{% extends "base.html" %}

{% block content %}

<h2>Edit Activity</h2>

<form class="form" action="/activities/{{activity.id}}" method="POST">

    <div class="flex">
        <label class="label" for="description">Enter description:</label>
        <input class="input" type="text" name="description" id="description" value="{{activity.description}}">
    </div>

    <div class="flex">
        <label class="label" for="capacity">Enter capacity:</label>
        <input class="input" type="number" min="1" name="capacity" id="capacity" value="{{activity.capacity}}">
    </div>

    <div class="flex">
        <label class="label" for="premium">Premium activity:</label>
        <select class="select" name="premium" id="premium">
            <option value="True" {% if activity.premium %} selected {% endif %}>True</option>
            <option value="False" {% if activity.premium == False %} selected {% endif %}>False</option>
        </select>
    </div>

    <div class="flex">
        <label class="label" for="date">Date:</label>
        <input class="input" type="date" name="date" id="date" value="{{activity.date}}">
    </div>
    
    <div class="flex">
        <label class="label" for="time">Time:</label>
        <input class="input" type="time" name="time" id="time" value="{{activity.time}}">
    </div>

    <div class="flex">
        <button class="button" type="submit">Enter</button>
    </div>

</form>

{% endblock %}