{% extends "base.html" %}

{% block content %}

<section class="view">

    <h2>{{activity.description}}</h2>

    <div class="detail">
        <p>Activity Number: {{activity.id}}</p>
        <p>Maximum Capacity: {{activity.capacity}}</p>
        <p>Premium Activity: {{activity.premium}}</p>
        <p>Date: {{activity.date}}</p>
        <p>Time: {{activity.time}}</p>
        <p>Places Available: {{places_available}}</p>

        <p><a href="/activities/{{activity.id}}/edit">Edit</a></p>

        <form action="/activities/{{activity.id}}/delete" method="POST">
            <button class="button" type="submit">Delete</button>
        </form>
    </div>
</section>

<section class="index">
    <h3>Booked members</h3>

    <table>
        <thead>
            <tr>
                <th>Member ID</th>
                <th>Name</th>
                <th>Premium</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
        <tr>
            <td><a href="/members/{{member.id}}">{{member.id}}</a></td>
            <td>{{member.last_name}}, {{member.first_name}}</td>
            <td>{{member.premium}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}