{% extends "base.html" %}

{% block content %}

<section class="view">

<p>Activity: {{activity.description}}</p>
<p>Maximum capacity: {{activity.capacity}}</p>
<p>Premium activity: {{activity.premium}}</p>
<p>Date: {{activity.date}}</p>
<p>Time: {{activity.time}}</p>
<p>Places available: {{places_available}}</p>

<p><a href="/activities/{{activity.id}}/edit">Edit</a></p>

<form action="/activities/{{activity.id}}/delete" method="POST">
    <button type="submit">Delete</button>
</form>

<h3>Booked members</h3>

    <table>
        <tr>
            <th>Member ID</th>
            <th>Name</th>
            <th>Premium</th>
        </tr>
    
        {% for member in members %}
        <tr>
            <td><a href="/members/{{member.id}}">{{member.id}}</a></td>
            <td>{{member.last_name}}, {{member.first_name}}</td>
            <td>{{member.premium}}</td>
        </tr>
        {% endfor %}
    
    </table>

</section>

{% endblock %}