{% extends "base.html" %}

{% block content %}

<p>Activity: {{activity.description}}</p>
<p>Maximum capacity: {{activity.capacity}}</p>
<p>Premium activity: {{activity.premium}}</p>
<p>Date: {{activity.date}}</p>
<p>Time: {{activity.time}}</p>

<p><a href="/activities/{{activity.id}}/edit">Edit</a></p>

<form action="/activities/{{activity.id}}/delete" method="POST">
    <button type="submit">Delete</button>
</form>

<h3>Booked activities</h3>

{% for member in members %}
<p>{{member.first_name}} {{member.last_name}}</p>
{% endfor %}

{% endblock %}