<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM</title>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/flex.css">
    <link rel="stylesheet" href="/static/table.css">
    <link rel="stylesheet" href="/static/form.css">

    <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');</style>

</head>
<body>
    <header class="flex">
        <h1>GYM</h1>
        <nav>
            <ul class="flex">
                <li><a href="/">Home</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/activities">Activities</a></li>
                <li><a href="/bookings">Bookings</a></li>
            </ul>
        </nav>
    </header>

    <main>

        {%block content%}


        {%endblock%}

    </main>
    <footer>&copy; GYM 2021</footer>
</body>
</html>